body {
    color: #cdd6f4;
    border-color: #b4befe;
    accent-color: #b4befe;
    background-image: url('bg.gif');

    font-size: 18px;
    font-family: system-ui, Roboto, Ubuntu, Cantarell;
}

a {
    color: #b4befe;
}

div.main {
    background-color: #1e1e2e;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:2%;
    border-radius: 10px;
    border: 3px solid #89b4fa;
}

@media (max-width: 1700px) {
    body {
        background-color: #1e1e2e;
    }
    div.main {
        width: 100%;
        border-radius: 0px;
    }
}

h1.header {
    background-color: #1e1e2e;
}

table {
    background-color: #313244;
    border-color: #11111b;
    border-width: 2px;
    border-collapse: collapse;
    align-items: center;
    align-self: center;
    width: 100%;
}

td, th {
    padding: 5px;
    border: 3px solid #b4befe;
}

header, footer {
    text-align: center;
}

header {
    font-size: 24px;
}

footer {
    font-size: 12px;
}

hr {
    color: #b4befe;
}

img.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

div.code {
    background-color: #11111b;
    padding: 5px;
    border-radius: 10px;
}
